{
  "name": "growthchart",
  "version": "0.1.2",
  "scripts": {
    "serve": "./node_modules/http-server/bin/http-server -p {{growth_chart_app_server_internal_port}} -c-1 ."
  },
  "dependencies": {
    "eslint": "^3.9.1",
    "fhirclient": "^0.1.9"
  },
  "devDependencies": {
    "http-server": "^0.9.0"
  }
}